.Slidepage{
    display: flex;
    gap: 5vw;
    margin: 5vh;
}

.Slidepage .main{
    display: flex;
}

.Slidepage .object-list{
    display: flex;
    background-color: black;
    height: 80vh;
    width: 15vw;
}

.Slidepage .not-object .slide-list{
    display: flex;
    background-color: black;
    height: 20vh;
    width: 75vw;
}

.Slidepage .not-object .main-slide{
    display: flex;
}