.SlideView {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.leftside {
    flex: 2; /* 全体の2割の高さ */
    background-color: #f6f8f9; /* 背景色 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightside {
    flex: 8; /* 全体の8割の高さ */
    background-color: #dcdcdc; /* 背景色 */
    display: flex;
    align-items: center;
    justify-content: center;
}
