:root{
    --fontsize-normal:30px;
    --fontsize-big:50px;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F4F5F7;
}

header{
    background-color: #949BAA;
    padding: 30px;
    text-align: center;
}

nav a{
    color: black;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover{
    font-weight: bold;
}
